<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/general.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/form.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>

<div class="grid-container">
  <header id="header-container">
  </header>
  <main id ="main-container">
    <div class="form-container">
      <form id="signin-form" name="f" method="post" action="/process_login">
        <input type="hidden" th:name = "${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <ul class="form-items">
          <li>
            <h1>Войти в аккаунт</h1>
          </li>
          <li>
            <label for= "username">E-Mail</label>
            <input type="text" name="username" id="username"/>
          </li>
          <li>
            <label for= "password">Пароль</label>
            <input type="password" name="password" id="password" placeholder="********"/>
          </li>
          <li>
          <li>
            <button type="submit" class="primary" value="Login">Войти</button>
            <div th:if="${param.error}" style="color : red">Неправильные E-Mail либо пароль!</div>
          </li>
          <li>
            <div>
              Новый пользователь?
              <a th:href="@{/auth/registration}">Зарегистрируйтесь</a>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </main>
  <footer>
    Общество с ограниченной ответственностью «Виктор Диктор». Свидетельство о государственной регистрации выдано Минским горисполкомом от 19.04.2018 с регистрационным номером 193067319. УНП 193067319.
    Юр. адрес: 220073, г. Минск, ул. Скрыганова, д. 14, каб. 36. Время работы с понедельника по пятницу с 9:00 до 17:30. Контакты: 695-25-25 МТС, A1, life:), nikonenkokdoske@yandex.ru.
  </footer>
</div>


</body>
</html>