<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/general.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/books.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/rating.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/details.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/dashboard.css}"/>
</head>
<body>

</body>
</html>