<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/general.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/books.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/rating.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/details.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/styles/profile.css}"/>
</head>
<body>
<div class="overlay" id="loading-overlay">Загрузка...</div>
<div class="overlay" id="message-overlay"></div>
<div class="grid-container">
    <header id="header-container">
        <div class="brand">
            <a th:href="@{/books}"><img th:src="@{/public/pictures/logo.png}" alt="logo"></a>
        </div>
        <div>
            <a sec:authorize="isAnonymous()" th:href="@{/login}">Войти</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/users/profile}">Профиль</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/cart}">Корзина</a>
            <a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/users/admin_panel}">Панель администратора</a>
        </div>
    </header>
    <main id ="main-container">
        <div class="dashboard">
            <div class="dashboard-menu">
                <ul>
                    <li>
                        <a th:href="@{/users/admin_panel}">Панель администратора</a>
                    </li>
                    <li class="selected">
                        <a th:href="@{/users/admin_panel/orders}">Заказы</a>
                    </li>
                    <li>
                        <a th:href="@{/users/admin_panel/books}">Книги</a>
                    </li>
                </ul>
            </div>
            <div class="dashboard-content">
                <h1>Заказы</h1>
                <div class="order-list">
                    <table class="table_sort" id="table_sort">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Дата заказа</th>
                            <th>Общая цена</th>
                            <th>ID пользователя</th>
                            <th>Статус</th>
                            <th class="tr-action">Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${orders.isEmpty()}"><td colspan="6">Заказов не найдено</tr>
                        <tr th:unless="${orders.isEmpty()}" th:each="orderEntry : ${orders}">
                            <td th:text="${orderEntry.getKey().getId_order()}"></td>
                            <td th:text="${orderEntry.getKey().getOrderDate()}"></td>
                            <td th:text="${orderEntry.getValue()}"></td>
                            <td th:text="${orderEntry.getKey().getUser().getId_user()}"></td>
                            <td th:text="${orderEntry.getKey().getStatus()}"></td>
                            <td>
                                <form id="edit-form" th:method="GET"
                                      th:action="@{/order/{id}(id=${orderEntry.getKey().getId_order()})}"
                                      th:object="${orderEntry.getKey()}">
                                    <button type="submit" th:id="${orderEntry.getKey().getId_order()}" class="edit-button">Редактировать</button>
                                </form>
                                <form id="delete-form" th:method="DELETE"
                                      th:action="@{/order/{id}(id=${orderEntry.getKey().getId_order()})}"
                                      th:object="${orderEntry.getKey()}">
                                <button type="submit" th:id="${orderEntry.getKey().getId_order()}" class="delete-button">Удалить</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        Общество с ограниченной ответственностью «Виктор Диктор». Свидетельство о государственной регистрации выдано Минским горисполкомом от 19.04.2018 с регистрационным номером 193067319. УНП 193067319.
        Юр. адрес: 220073, г. Минск, ул. Скрыганова, д. 14, каб. 36. Время работы с понедельника по пятницу с 9:00 до 17:30. Контакты: 695-25-25 МТС, A1, life:), nikonenkokdoske@yandex.ru.
    </footer>
</div>


</body>
</html>