.cart {
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
}

.cart-list {
    flex: 3 1 60rem;
}

.cart-action{
    flex: 1 1 20rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 1rem;
}

.cart-list-container{
    padding: 1 rem;
    list-style-type: none;
}

.cart-list-container li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1 rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container img{
    max-width: 10rem;
    max-height: 14rem;
}
.cart-list-container li:first-child{
    align-items: flex-end;
}
.cart-image{
    flex: 1 1;
}
.cart-name{
    flex: 8 1;
}
.cart-price{
    flex: 1 1;
    text-align: right;
}
.cart-name > div{
    padding: 1rem;
}
.cart-list h3{
    margin: 0;
}
.cart-list button,
.cart-list select{
    font-size: 1.3rem;
    padding: 0.5rem;
}