.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.profile-info {
    flex: 1 1 20rem;
}
.profile-orders {
    flex: 3 1 60rem;
    margin-left: 1rem;
}

table {
    width: 100%;
}
th {
    text-align: left;
}
tbody > tr:nth-child(odd) {
    background-color: #f0f0f0;
}
td {
    padding: 0.5rem;
}